/* MENU PADRÃO PARA TODAS AS PÁGINAS ////////////////////////////////*/

.menu{
	border-radius: 0px;
	position: relative;
	text-align: center;
    background-color: red;
    box-shadow: 0 0 08px;
    margin-bottom: 10px;
}

.logo1{
	margin-left: 80px;
	display: inline-block;
	padding: 10px;
	width: 50px;
}

.logo{
	position: absolute;
	margin-top: 35px;
	top: 10px;
	left: 8%;
	display: inline-block;
	z-index: 10;

}

.campo_text{
	border-radius: 07px;
	box-shadow: 0 0 08px;
	position: absolute;
	margin-top: 35px;
	top: 100px;
	right: 10%;
	display: inline-block;
	z-index: 10;
}

.texto_login{
	font-size: 13px;
	position: absolute;
	margin-top: 63px;
	top: 100px;
	right: 260px;
	display: inline-block;
	z-index: 10;
}

.button{
	border-radius: 07px;
	box-shadow: 0 0 08px;
	position: absolute;
	margin-top: 35px;
	top: 100px;
	right: 10%;
	display: inline-block;
	z-index: 10;
}

/* FIM DO MENU PADRÃO ///////////////////////////////////////////////*/

/* INICIO DO BANNER PADRÃO /////////////////////////////////////////*/

nav{
	display: inline-block;
	vertical-align: middle;
}

nav li{
	margin-left: 80px;
	display: inline-block;
	padding: 10px;
	font-size: 18px;	
}
nav li:hover{
	border-radius: 10px;
	transition-duration: 0.5s;
}
nav a:hover{
	font-weight: 1000;
}

.banner{
	background-image: url(../img/1200x400.jpg);
	background-size: cover;
	margin-top: -10px;
	height: 300px;
	width: 100%;
}

/* FIM DO BANNER PADRÃO ///////////////////////////////////////////////*/


/* INICIO DA PÁGINA "HOME" ///////////////////////////////////////////////*/

.conteudo{
	width: 80%;
	margin: auto;
	padding-top: 40px; 
}

.coluna_col9{
	margin-top: 30px;
	text-align: center;
}

.imagem_evento_principal{

	width: 800%;
}

.example-image{
	box-shadow: 0 0 08px;
	border-radius: 15px;
	width: 800px;
}

.coluna_col7{
	margin-top: 100px;
	text-align: center;
	/*background-color: rgba(252, 0, 0, 0.01);*/
	color: black;
	border-top-style: double;
	border-bottom-style: solid;
	border-right-style: double;
	border-left-style: solid;
	border-top-width: 8px;
	border-right-width: 12px;
	border-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	margin-left: 300px;
	margin-right: 300px;
	padding: 10px 50px 50px 50px;
}

.coluna_col7 p{
	text-align: justify;
	align-self: center;
}

.colune_col3_sidebar{
	text-align: justify;
	

	margin-top: 100px;
	text-align: center;

}

.sem-marcador_sem-padding{
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	
}

.sem-marcador_sem-padding img{
	border-radius: 10px;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: 0.3s;
	box-shadow: 0 0 10px;
}

.sem-marcador_sem-padding:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.example-image2{
	margin: 15px;
	width: 250px;
	height: 250px;
}

.coluna_col5{
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.botao_ver{
	font-size: 20px; 
	padding: 15px;
	color: white; 
	background-color: red;
	opacity: 0.85;
	border-color: white;
	border-width: 8px;
	border-style: double;
	border-radius: 100px;
	transition: 0.3s;
}

.botao_ver:hover{
background-color: black;
padding: 30px;

}

.titulo{
	/*border-left-style: solid;
	border-right-style: solid;
	border-width: 3px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
/*/
    font-size: 30px;
}


/* FIM DA PÁGINA "HOME" ///////////////////////////////////////////////*/

/* INICIO DA PÁGINA "EQUIPE" ///////////////////////////////////////////////*/


.conteudo{     --->    /* ESSA CLASSE TAMBEM É USADA EM OUTRAS PÁGINAS !!! CUIDADO !!! */
	width: 80%;
	margin: auto;
	padding-top: 40px; 
}

.info-equipe{
	margin-bottom: 75px;
	text-align: center;
}

.container-equipe{
	
}

.inferior, .superior{
	margin-bottom: 50px;
	text-align:center;
}

.superior img{
	border-radius: 10px;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: 0.3s;
	box-shadow: 0 0 08px;
}

/*.superior:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}*/
.Equipe{
	 width: 200px;
	 height: 250px;
}

.Equipe:hover {
	-moz-transform: scale(1.18);
	-webkit-transform: scale(1.18);
	transform: scale(1.18);
}

/*.redes{
	display: inline-flex;
	position: absolute;
	text-align: left;
}


.redes:hover{
	display: none;	
}
*/
#Presidente:hover {
	-moz-transform: scale(1.18);
	-webkit-transform: scale(1.18);
	transform: scale(1.18);
}

#Vice{
	-moz-transform: scale(1.18);
	-webkit-transform: scale(1.18);
	transform: scale(1.18);
}

#Tesoureiro{
	-moz-transform: scale(1.18);
	-webkit-transform: scale(1.18);
	transform: scale(1.18);
}

#Secretario{
	-moz-transform: scale(1.18);
	-webkit-transform: scale(1.18);
	transform: scale(1.18);
}

#Marketing{
	-moz-transform: scale(1.18);
	-webkit-transform: scale(1.18);
	transform: scale(1.18);
}

.inferior img{
	border-radius: 10px;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: 0.3s;
	box-shadow: 0 0 08px;
}

/*.inferior:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
*/


.unidade{  ---> /* ESSA CLASSE É USADA PARA TODAS AS UNIDADES "UNIDADE PRESIDENTE", "UNIDADE VICE" ..... */ 
	display: inline-block;
	margin-left: 30px; 
	margin-right: 30px;
}
.inferior{
	text-align: center;
}

/* FIM DA PÁGINA "EQUIPE" ///////////////////////////////////////////////*/



/*INICIO DA PAG "PRODUTOS" ////////////////////////////////////////////////*/

.sem-marcador_sem-padding2{
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	
}

.example-image3{
	margin: 15px;
	width: 330px;
	height: 400px;
}




/* FIM DO CSS DA PAG "PRODUTOS"  */



.sem-marcador_sem-padding_notícias{
	margin-right: 15px;
}

footer{
	background-color: #424242;
	text-align: center;
	font-size: 14px;
	height: 20px;
	color: #ccc;
	padding-top: 0px;
	padding-bottom: 1px;
}

#container {
    background: white;
    display: both;
}

div ul {
	list-style: none;
	display: block;
	position: relative;
}
.Redes {
	position: absolute;
    top: 0;
    display: none;
    left: 400px;
    transition: 2s;
}
.ul_hover{
    display: inline-block;
	margin-left: 30px; 
	margin-right: 30px;
	padding-left: 0px; 
	width: 500px;
}
.ul_hover:hover  li{
	display: initial;
}
.Icon{
	width: 50px; 
	height: 50px; 
}