html{
	/*background-image: url(../img/background.png);
    background-size: cover;*/
    margin: 0px;
    padding: 0px;
}
body{
	margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#tudo{
	
}

a{
    color: #424242;    
    text-decoration: none;
}

/*
	ed1c24
*/